.wrapper {
    display: grid;
    /* users online, chatlog, canvas */
    grid-template-columns: 10% 44% 44%;
    grid-column-gap: 1%;
}

#chat-window {
    height: 600px;
}

#log {
    height: 80%;
    /* overflow-y: scroll; */
    overflow-y: auto;
}

#log hr {
    margin: .2em 0em;
}

.username {
    border-radius: 50%;
    background-color: lightblue;
    height: 3em;
    width: 3em;
    vertical-align: middle;
    line-height: 3em;
}

.chat-wrapper {
    display: grid;
    grid-template-columns: 3% 95%;
    grid-column-gap: 2%;
    padding: .2em 0em;
}

.message-handle {
    color: mediumpurple;
}

#lang_to {
    width: 10%;
}

#message {
    width: 100%;
}

#canvas {
    background-color: beige;
    width: 100%;
    height: 100%;
}